{% macro show_job(job) %}
<div class="card adjust-height">
  <header class="card-header">
    <p class="card-header-title">
        <a href="{{ url_for('job', job_id=job['id']) }}">{{ job['title'] }}</a>
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <p>
        <a href="{{ url_for('employer', employer_id=job['employer_id']) }}">{{ job['employer_name'] }}></a>
        <br>
        ${{ job['salary'] }}
        <br>
        {{ job['description'] }}
      </p>
    </div>
  </div>
</div>
{% endmacro %}

{% macro show_jobs(jobs) %}
<div class="columns ismultiline">
    {% for job in jobs %}
        <div class="column is-half">
            {{ show_job(job) }}
        </div>
    {% endfor %}
</div>
{% endmacro %}